.bosluk {
  margin-top: 110px !important;
}

.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
  position: relative;
  display: inline-block;
  width: 8.25%;
  padding-left: 1 rem;
  padding-right: 1 rem;
  vertical-align: top;
  padding-top: 5rem !important;
}

.ui.grid>.row>.column {
    margin-top: 100px !important;
    margin-bottom: 0;
}
